%ul
  %li
    %a(href="/cluster/info") Cluster
  %li
    %a(href="/node/list") Nodes
    %ul
      - @ganeti.nodes.each do |node|
        - id = node["id"]
        %li
          %a(href="/node/info/#{id}")= id
  %li
    %a(href="/instance/list") Instances
    %ul
      - @ganeti.instances.each do |node|
        - id = node["id"]
        %li
          %a(href="/instance/info/#{id}")= id
  